body {
    display: flex;
    background: #e9e2dc;
    padding: 2em 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #4f4a46;
    margin: 0 0 2em;
}

.calculatrice {
    font-size: 16px;
    background: #d0af9e;
    padding: 1.5em;
    border-radius: 1em;
    width: 352px;
}

.resultat {
    font-family: Consolas, serif;
    text-align: right;
    padding: 0 1em;
    line-height: 82px;
    min-height: 82px;
    color: #ba6958;
    background: #e9e2dc;
}

.boutons {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.boutons button {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 82px;
    font-family: Consolas, serif;
    font-size: 16px;
    color: #4f4a46;
    background: #e9e2dc;
}

.boutons .action, .boutons .operateur, .boutons .point {
    background: #cfccc7;
}

.boutons .egal {
    grid-row: span 3;
    background: #ba6958;
    color: #e9e2dc;
}